<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Task:</strong>
    <%= task.name %>
  </p>

  <p class="my-5 flex items-center">
    <strong class="block font-medium mr-2">Completed:</strong>
    <% if task.is_completed %>
      <span class="icon-completed">✔️</span>
    <% else %>
      <span class="icon-not-completed">❌</span>
    <% end %>
  </p>
</div>
