<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is completed:</strong>
    <%= task.is_completed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">List:</strong>
    <%= task.list_id %>
  </p>

</div>
